Source: sphone
Priority: optional
Maintainer: Carl Klemm <carl@uvos.xyz>
Build-Depends: debhelper (>> 10), cmake,
  libgtk2.0-dev, libdbus-glib-1-dev, libunique-dev, libsqlite3-dev,
  libgstreamer1.0-dev, libasound2-dev, intltool,
  maemo-system-services-dev, libhildon1-dev, libprofile-dev, libpulse-dev,
  libebook-contacts1.2-dev, libebook1.2-dev
Section: comm
Standards-Version: 4.3.0

Package: sphone
Section: comm
Architecture: any
Multi-Arch: same
Depends: ofono, ${shlibs:Depends}
Description: Maemo Leste phone framework and GUI
 Maemo Leste phone framework and GUI
