[Desktop Entry]
Name=Sphone New SMS
GenericName=SMS
Exec=sphone -c dialer-open
Icon=general_sms
Terminal=false
Type=Application
Categories=Telephony;
