[Desktop Entry]
Name=Sphone SMS history
GenericName=SMS
Exec=sphone -c history-sms
Icon=general_sms
Terminal=false
Type=Application
Categories=Telephony;
Name[en_US]=sphone-sms-history.desktop
